@mixin margin(){
  margin-top: var(--margin-size, 1rem);
}

@mixin gridCenter(){
  display: grid;
  place-content: center;
}

@mixin flex() {
  display: flex;
  gap: var(--gap);
  @content;
}

@mixin flexCenter(){
  display: flex;
  align-items: var(--align-items, center);
  justify-content: var(--justify-content, center);
}

@mixin fontsize($font-size, $line-height: 1.1) {
  font-size: $font-size;
  line-height: $line-height;
}

@mixin heading($line-height: 1.1) {
  font-family: var(--font-family, var(--ff-serif));
  font-size: var(--font-size, var(--fs-100));
  text-transform: uppercase;
  line-height: $line-height;
  @content;
}

@mixin navLinks(){
  font-family: var(--ff-sans-cond);
  text-decoration: none;
  color: var(--text-color, hsl(var(--clr-white)));
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: all .2s;
  @content;
}

@mixin navItemsBottomBorder {
  padding-bottom: var(--padding-bottom, 1rem);
  border-bottom: .2rem solid var(--border-color);
}