

@mixin gridCenter() {
  display: inline-grid;
  place-content: center;
}

@mixin grid() {
  display: grid;
  justify-items: start;
  gap: 1rem;
}

@mixin flex() {
  display: flex;
  gap: var(--gap);
}

@mixin flexCenter() {
  display: flex;
  align-items: var(--align-items, center);
  justify-content: var(--justify-content, center);
}

// QUERY
// 600px
@mixin mediaTablet{
    @media(min-width: 37.5em){
    @content;
  }
}
// 720px
@mixin mediaDesktop {
    @media(min-width: 45em){
    @content;
  }
}