$clr-dark: 230 35% 7%;
$clr-dark-2: 231, 15%, 26%;
$clr-light: 231 77% 90%;
$clr-white: 0 0% 100%;

:root {
  --clr-light: #{$clr-light};
  --clr-dark: #{$clr-dark};
  --clr-dark-200: #{$clr-dark-2};
  --clr-white: #{$clr-white};

  /* font-sizes */
  --fs-900: 9.375rem;
  --fs-850: 6.25rem; /* 100px */
  --fs-800: 5rem; /* 80px */
  --fs-700: 3.5rem; /* 56px */
  --fs-650: 2.5rem; /* 40px */
  --fs-600: 2rem; /* 32px */
  --fs-550: 1.75rem; /* 28px */
  --fs-525: 1.5rem; /* 24px */
  --fs-500: 1.25rem; /* 20px */
  --fs-400: 1.125rem; /* 18px */
  --fs-300: 1rem; /* 16px */
  --fs-100: 0.875rem; /* 14px */

  /* font-families */
  --ff-serif: 'Bellefair', serif;
  --ff-sans-cond: 'Barlow Condensed', sans-serif;
  --ff-sans-normal: 'Barlow', sans-serif;

  // MEDIA QUERIES

  --media-100: 38em;
  --media-200: 56.25em;
}
