.grid-container--destination {
  padding-bottom: 3rem;
  
  .page-img{
    margin-top: 2rem;
    
    @include mediaTablet{
      margin-top: 0;
    }

    @include mediaDesktop{
      margin-top: 6rem;
    }
  }
    

.description {
  border-top: 1px solid hsl(var(--clr-dark-200));
  margin-top: 3rem;
  padding-top: 3rem;
  gap: 3rem;

  // flex
  justify-content: center;
  flex-direction: column;

  @include mediaTabletMin {
    flex-direction: row;
  }

  @include mediaDesktop {
    justify-content: start;
  }

  & div .heading {
    margin-bottom: 0.75rem;
  }
}

}
