.grid-container {
  display: grid;
  gap: 2rem;
  place-items: center;
  text-align: center;
  padding-inline: 1rem;
  

  @include mediaDesktop{
    text-align: left;
    grid-template-columns: minmax(2rem, 1fr) repeat(2, minmax(0, 40rem)) minmax(2rem, 1fr);

    align-self: end;
    padding-bottom: max(6rem, 20vh); /* will help with big screens to prevent text to go to far to the bottom*/

    & > *:first-child {
      grid-column: 2;
    }

    & > *:last-child {
      grid-column: 3;
      place-self: end;
    }
    
  }
}