.grid-container {
  
  align-self: start;
  display: grid;
  gap: 2rem;
  padding-inline: 2rem;
  text-align: center;
  @include mediaDesktop {
    text-align: left;
    grid-template-columns: minmax(2rem, 1fr) repeat(2, minmax(0, 40rem)) minmax(2rem, 1fr);
  
    
    /* will help with big screens to prevent text to go to far to the bottom*/
    // padding-bottom: max(6rem, 20vh);
    & > *:first-child {
      grid-column: 2;
      align-self: start;
    }

    & > *:last-child {
      grid-column: 3;
      place-self: end;
      text-align: left;
    }
  }

   .left-content {
    width: 100%;

    // @include mediaDesktop{
    //   text-align: left;
    // }
  }

  .page-img {
    max-width: 52%;
    margin-inline: auto;

    @include mediaDesktop{
      max-width: 80%;
    }
  }

  .numbered-title {
    @include mediaTabletMin {
      text-align: left;
    }
  }

  .heading--quaternary{
    margin-bottom: 0.5rem;
  }

  .heading--tertiary{
    margin-bottom: 1rem;
  }
}
