section{
  --margin-size: 4rem;
  @include margin;
}
.color{
  --gap: .5rem;
  width: 15rem;
  color: hsl(var(--clr-white));

  div{
    padding: 3rem 1rem 1rem;
    border: 1px solid hsl(var(--clr-white));
    color: var(--text-color, hsl(var(--clr-white)));
    margin-bottom: 1rem;
  }

  &--accent{
    --text-color: hsl(var(--clr-dark));
    div{
    background-color: hsl(var(--clr-light));
    }
  }

  &--white{
    --text-color: hsl(var(--clr-dark));
    div{
      background-color: hsl(var(--clr-white));
    }
  }
}

// where has no speficity
.headings > *:where(:not(:first-child)){
  @include margin;
  --margin-size: 2rem;
}

.headings:nth-of-type(2){
  --margin-size: 5rem;
}

.heading-styles{
  @include flex;

  & > div{
    flex-basis: 100%;
  }

  .heading p:first-child{
    color: hsl(var(--clr-light));
  }
}

#interactive-elements{
  div{
    --margin-size: 4rem;
    @include margin
  }
}