.bg-img {
  background-size: cover;
  background-position: bottom;

  &__home {
    background-image: url('../assets/home/background-home-mobile.jpg');

    @include mediaTablet {
      background-image: url('../assets/home/background-home-tablet.jpg');
    }

    @include mediaDesktop {
      background-image: url('../assets/home/background-home-desktop.jpg');
    }
  }

  &__destination {
    background-image: url('../assets/destination/background-destination-mobile.jpg');

    @include mediaTablet {
      background-image: url('../assets/destination/background-destination-tablet.jpg');
    }

    @include mediaDesktop {
      background-image: url('../assets/destination/background-destination-desktop.jpg');
    }
  }
}
