h1{
  text-transform: uppercase;
}

.primary-heading{
  --font-size: var(--fs-900);
  @include heading;
}

.secondary-heading{
  --font-size: var(--fs-800);
  @include heading;
}

.tertiary-heading{
  --font-size: var(--fs-700);
  @include heading
}

.quaternary-heading{
  --font-size: var(--fs-600);
  @include heading
}

.quinary-heading{
  --font-size: var(--fs-500);
  color: hsl(var(--clr-light));
  --font-family: var(--ff-sans-cond);
  @include heading;
}

.subheading-primary{
  --font-size: var(--fs-400);
  @include heading;
}

.subheading-secondary{
  --font-size: var(--fs-200);
  --font-family: var(--ff-sans-cond);
  @include heading;
}